An interpreter is a program that runs scripts written in an interpreted language such as Python.

Python is an interpreted language, which means that each line is executed as its is entered. Python also includes IDLE, the integrated development environment, which includes tools for writing and debugging entire programs.

# Data Types
* Numbers
* Strings
* Booleans
* Python Collections (Arrays)
    * Lists
    * Dictionaries
    * Tuples
    * Sets

## Numbers

There are three numeric types in Python:

* integer
* float
* complex

In [1]:
2    # int

2

In [2]:
2.8  # float

2.8

In [3]:
1j   # complex

1j

### Arithmetic Operations with Numbers

In [ ]:
+ Addition
- Subtraction
* Multiplication
/ Division
% Mod (the remainder after dividing)
** Exponentiation (note that ^ does not do this operation, as you might have seen in other languages)
// Divides and rounds down to the nearest integer

In [4]:
1

1

In [5]:
1.0

1.0

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
4 / 2  # output is a float

2.0

In [9]:
4 / 2.0

2.0

In [10]:
1 + 2 + 4.0 + 3 # output is a float

10.0

In [11]:
1 // 2

0

In [12]:
10 // 3

3

In [13]:
-10 // 3

-4

In [14]:
2 ** 3

8

In [15]:
9 ** (1 / 2)

3.0

In [16]:
2 + 3 * 5 + 5

22

In [17]:
(2 + 3) * (5 + 5)

50

In [18]:
4 % 2

0

In [19]:
5 % 2

1

## Strings

In [20]:
'single quote'

'single quote'

In [21]:
"this is a string"

'this is a string'

In [22]:
"If you use double quotes, 'single quotes' in the text does not cause problems"

"If you use double quotes, 'single quotes' in the text does not cause problems"

In [23]:
'If you use double quotes, \'single quotes\' in the text does not cause problems'

"If you use double quotes, 'single quotes' in the text does not cause problems"

In [24]:
'Brain\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brain's mother: He's not the Messiah. He's a very naughty boy!"

In [25]:
'str' + 'ing'

'string'

In [26]:
'str' 'ing'

'string'

In [27]:
'string' * 3

'stringstringstring'

### Variable Assignment
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [55]:
var = 2

var

2

In [53]:
x = 2
y = 3

x + y

5

In [54]:
x = x + x

x

4

In [40]:
var = 20
print(var)

var += 100 # => var = var + 100
print(var)

20
120

In [56]:
x, y, name, isStudent = (1, 2.3, "Ahmet", True)

print(x)
print(y)
print(name)
print(isStudent)

1
2.3
Ahmet
True

### Python Casting
* int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [44]:
int(4.7)

4

In [45]:
int(4 / 2)

2

In [46]:
float(4)

4.0

In [47]:
float(4 / 2)

2.0

In [48]:
int("3")

3

In [49]:
float("4.2")

4.2

In [50]:
str(2)

'2'

In [51]:
str(3.0)

'3.0'

In [52]:
first_num = '10'
second_num = '11'

print(first_num + second_num)
print(int(first_num) + int(second_num))

1011
21

### Printing

detailed info: https://realpython.com/python-print/

In [57]:
x = 'Hello'

In [58]:
x # is showing quotation marks in results

'Hello'

In [59]:
print(x) # is NOT showing quotation marks in results

Hello

In [60]:
e1 = "Once again he asked 'How long is a piece of string?'" 
print(e1)

Once again he asked 'How long is a piece of string?'

In [61]:
e2 = 'Once again he asked "How long is a piece of string?"'
print(e2)

Once again he asked "How long is a piece of string?"

In [62]:
e = "Once again he asked \"How long is a piece of string?\""
print(e)

Once again he asked "How long is a piece of string?"

In [63]:
e = 'Once again he asked \'How long is a piece of string?\''
print(e)

Once again he asked 'How long is a piece of string?'

In [64]:
msg = "ATTENTION!\nFor those about to rock, we salute you!"
print(msg)

ATTENTION!
For those about to rock, we salute you!

In [65]:
num = 12
name = "Sam"

In [66]:
'My number is {}, and my name is {}'.format(num, name)

'My number is 12, and my name is Sam'

In [67]:
'My number is {one}, and my name is {two}'.format(one = num, two = name)

'My number is 12, and my name is Sam'

In [68]:
'My number is {one}, and my name is {two} and more {one}'.format(one = num, two = name)

'My number is 12, and my name is Sam and more 12'

In [69]:
print('My number is {}, and my name is {}'.format(num, name))

My number is 12, and my name is Sam

In [70]:
print("Hello %s, you scored %i out of %i" % ("Homer", 3, 100))
# %s : represents an STRING variable
# %i : represents an INTEGER variable.

Hello Homer, you scored 3 out of 100

In [71]:
s = "Homer"
i1 = 3
i2 = 100

print("Hello %s, you scored %i out of %i" % (s, i1, i2))

Hello Homer, you scored 3 out of 100

In [74]:
firstName = 'Ahmet'
lastName = 'Emanet'

fullName1 = firstName + ' ' + lastName
fullName2 = firstName + lastName

print(fullName1)
print(fullName2)

Ahmet Emanet
AhmetEmanet

In [73]:
firstName = 'Ahmet'
lastName = 'Emanet'

print(firstName, lastName)

Ahmet Emanet

In [75]:
order1 = 110
order2 = 1100.5
order3 = 356.95

total = order1 + order2 + order3

print("Total:", total)

Total: 1567.45

### Indexing
Strings are Arrays

In [76]:
s = 'hello'

In [77]:
s[0]

'h'

In [78]:
s[4]

'o'

In [79]:
s = 'abcdefghijk'

In [80]:
s[0:] # 0 no'lu indexten basla sonuna kadar al

'abcdefghijk'

In [81]:
s[:] # baştan başla sonuna kadar al

'abcdefghijk'

In [82]:
s[3:] # 3 no'lu indexten basla (yani 4. elamandan - o da dahil) sonuna kadar

'defghijk'

In [83]:
s[:3] # Bastan basla 3 no'lu indexe (yani 4. elamana - 4. eleman dahil degil) kadar

'abc'

In [84]:
s[3:6]

'def'

## Booleans (True/False)

In [85]:
True

True

In [86]:
False

False

In [87]:
1 == 1

True

In [88]:
2 > 3

False

## Python Collections (Arrays)
There are four collection data types in the Python programming language:
* **List** is a collection which is ordered (indexing) and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered (indexing) and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered and unindexed. No duplicate members.
* **Dictionary** is a collection which is unordered, changeable and indexed (with key). No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Lists

* Köşeli parantez "[]" ile oluşturulur.
* List'ler farklı veritipnde elemanlara sahip olabilir.
* List'lerin elemanları değiştirilebilir.
* Bir listenin öğelerine, köşeli parantez içinde dizin (index) numarası yazılarak erişilebilir.
    * UNUTMA: Index numarası "0"dan başlar, 1'den değil.
* List içerisinde index aralığı belirli elemanlara ulaşılabilir.
* Sonuc kümesi yeni bir list'dir.
* 2:4 dedigimizde son elemanı almaz. Yani IndexSırası >= 2 and IndexSırası < 4

In [89]:
name = "AhmetEmanet"
ls_name = list(name)
ls_name

['A', 'h', 'm', 'e', 't', 'E', 'm', 'a', 'n', 'e', 't']

In [90]:
squares_list = [0,1,4,9,16,25,36,64]

In [91]:
squares_list

[0, 1, 4, 9, 16, 25, 36, 64]

In [92]:
squares_list[0]

0

In [93]:
squares_list[5]

25

In [94]:
squares_list[2:4]

[4, 9]

In [95]:
squares_list[4:]

[16, 25, 36, 64]

In [96]:
squares_list[:3]

[0, 1, 4]

In [97]:
squares_list[:]

[0, 1, 4, 9, 16, 25, 36, 64]

In [98]:
squares_list

[0, 1, 4, 9, 16, 25, 36, 64]

In [99]:
squares_list[-1]

64

In [100]:
squares_list[-2]

36

### Nested List

In [101]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [102]:
nest[3]

[4, 5, ['target']]

In [103]:
nest[3][2]

['target']

In [104]:
nest[3][2][0]

'target'

In [105]:
nest[3][2][0][2]

'r'

**List Functions and Methods**
* type
* len
* max
* min
* del
* append
* extend
* insert
* remove
* pop
* clear
* count
* sort
* sorted
* range
* index

**Built-in List Functions & Methods**

Python includes the following list functions −

*	cmp(list1, list2)
    * Compares elements of both lists.
*	len(list)
    * Gives the total length of the list.
*	max(list)
    * Returns item from the list with max value.
*	min(list)
    * Returns item from the list with min value.
*	list(seq)
    * Converts a tuple into list.

Python includes following list methods

*	list.append(obj)
    * Appends object obj to list
*	list.count(obj)
    * Returns count of how many times obj occurs in list
*	list.extend(seq)
    * Appends the contents of seq to list
*	list.index(obj)
    * Returns the lowest index in list that obj appears
*	list.insert(index, obj)
    * Inserts object obj into list at offset index
*	list.pop(obj=list[-1])
    * Removes and returns last object or obj from list
*	list.remove(obj)
    * Removes object obj from list
*	list.reverse()
    * Reverses objects of list in place
*	list.sort([func])
    * Sorts objects of list, use compare func if given

In [107]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [108]:
listmethods = [0, 1, 4, 9, 16, 25]

In [109]:
dir(listmethods) # kullanabileceğim method'ları listeler.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [110]:
# append methodunun ne işe yaradığını gösterir. Jupyter'deki shift + tab tuş kombinasyonuna denk gelir.
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [111]:
?list.append

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

------

In [126]:
lst = [0, 1, 4, 9, 16, 25]
lst_2 = [3, 4, 5, 6]

In [113]:
lst + lst_2 
# iki list'i ardı sıra birleştirir. Toplama işlemi yapmaz. Append

[0, 1, 4, 9, 16, 25, 3, 4, 5, 6]

In [114]:
lst * 3
# List'in elemanlarını çarpmaz. Listeyi 3 kere arka arkaya birleştirir.

[0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25]

In [115]:
type(lst)

list

In [116]:
len(lst)

6

In [117]:
max(lst)

25

In [118]:
min(lst)

0

In [119]:
min(lst, lst_2) # iki List'ten en küçük olanını getirdi

[0, 1, 4, 9, 16, 25]

In [127]:
# Change/Update Item Value

lst[2] = 5
lst

[0, 1, 5, 9, 16, 25]

In [128]:
# list'in sonuna TEK bir eleman ekler.

lst.append(36)
lst

[0, 1, 5, 9, 16, 25, 36]

In [129]:
new_lst = [49, 81, 64]

In [130]:
# bu şekilde list eklemeye kalktığımızda listenin 7. eleman bir [49,64,81] den oluşan bir liste olur.

print(lst)

lst.append(new_lst)

print(lst)
print(lst[7])

[0, 1, 5, 9, 16, 25, 36]
[0, 1, 5, 9, 16, 25, 36, [49, 81, 64]]
[49, 81, 64]

In [131]:
# Birden fazla eleman ekler. iki list'i birleştirir.

lst.extend(new_lst)
lst

[0, 1, 5, 9, 16, 25, 36, [49, 81, 64], 49, 81, 64]

In [132]:
lst.extend(["a","b"])
lst

[0, 1, 5, 9, 16, 25, 36, [49, 81, 64], 49, 81, 64, 'a', 'b']

In [133]:
# Dizin numarası belirli yere TEK bir değer/eleman ekler.

lst.insert(10, 100) # listenin 11. elemanı 100 olsun
lst.insert(0,-1) #listenin ilk elemanı -1 olsun
lst

[-1, 0, 1, 5, 9, 16, 25, 36, [49, 81, 64], 49, 81, 100, 64, 'a', 'b']

In [134]:
# remove(x) belirtilen x elemanını (index numarası değil) listeden kaldırır.

lst.remove(-1)
lst

[0, 1, 5, 9, 16, 25, 36, [49, 81, 64], 49, 81, 100, 64, 'a', 'b']

In [135]:
del(lst[0])
lst

[1, 5, 9, 16, 25, 36, [49, 81, 64], 49, 81, 100, 64, 'a', 'b']

In [136]:
# index numarası verilmiş elemanı listeden kaldırır.

lst.pop(6)
lst

[1, 5, 9, 16, 25, 36, 49, 81, 100, 64, 'a', 'b']

In [137]:
# listenin tum elemanlarini siler

lst.clear()
lst

[]

In [138]:
lstx = ["Mar", "Feb", "Apr", "May", "Jan"]

lstx.index("Feb")

1

In [139]:
# bir elemanın kaç kere tekrar ettiğini gösterir.
# parantez icerisine tekrar ettiğini öğrenmek istediğimiz öğe yazılır. Index değil.

listcount = [1,2,2,1,3,1,4,1,5,6,1]

print(listcount.count(1))
print(listcount.count(4))

5
1

In [140]:
listcount.reverse() 
listcount

[1, 6, 5, 1, 4, 1, 3, 1, 2, 2, 1]

In [141]:
# varsayilan olarak liste elemanlarını küçükten büyüğe sıralar ve liste artık o şekilde davranır.

listcount.sort()
listcount

[1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 6]

In [142]:
# büyükten küçüğe sıralamak için "reverse=True"

listcount.sort(reverse=True)
listcount

[6, 5, 4, 3, 2, 2, 1, 1, 1, 1, 1]

In [143]:
# alfabetik bir şekilde sıralar.

listforsort = ["bee", "wasp", "mothx", "ant", "motha"]

listforsort.sort()
listforsort

['ant', 'bee', 'motha', 'mothx', 'wasp']

In [144]:
# string elemanlarda önce karakter uzunluğuna sonra alfabetik sıraya baktı. 

listforsort.sort(key=len)
listforsort

['ant', 'bee', 'wasp', 'motha', 'mothx']

In [145]:
#karakter uzunluğuna göre tersten sıraldı. Ancak eşit karaketer uzunluğuna sahip öğeleri alfabetik sıraladı.

listforsort.sort(key=len, reverse=True) 
listforsort

['motha', 'mothx', 'wasp', 'ant', 'bee']

In [146]:
# varsayilan olarak liste elemanlarını küçükten büyüğe sıralar ancak liste artık o şekilde davranmaz.

sorted(listforsort)

['ant', 'bee', 'motha', 'mothx', 'wasp']

In [147]:
sorted(listforsort, key=len, reverse=True)

['motha', 'mothx', 'wasp', 'ant', 'bee']

In [148]:
name = "@".join(["ahmet.emanet", "email.com"])
print(name)

ahmet.emanet@email.com

In [149]:
x = "\n".join(["fore", "aft", "starboard", "port"])

In [150]:
x

'fore\naft\nstarboard\nport'

In [151]:
print(x)

fore
aft
starboard
port

**range() ve list()**
* list() fonksiyonu "List" oluşturur.
* range() fonksiyonu belirtilen koşullara göre int sayı türetir.
* range(stop) or range(start, stop, step) 
* Step belirtilmezse default olarak 1'dir.

In [152]:
print(list(range(10))) # başlangıç belirtilmezse "0"dan başlar.
print(list(range(1,11))) # Step belirtilmezse default olarak 1'dir. 
print(list(range(51,56)))
print(list(range(1,11,2))) #buradaki 2 step/adım sayısıdır. 1'den başla 2'ser art.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[51, 52, 53, 54, 55]
[1, 3, 5, 7, 9]

In [153]:
x = list(range(5,25,3))
x

[5, 8, 11, 14, 17, 20, 23]

## Tuples
* Çok Öğeli Değişkenler Grubudur.
* () ile oluşturulur.
* Tupler değişmezdir ve çıktı parantezlerle "()" çevrelenir, böylece iç içe geçmiş tuplelar doğru şekilde işlenir. 
* Ek olarak, tuplelar değişmez olsalar da, gerektiğinde değişken verileri tutabilirler.
* Tuplelar değişmez olduğundan ve değişemediğinden, listelere kıyasla daha hızlı işlem görürler. 
* Bu nedenle, listenizin değişmesi olası değilse, listeler yerine tuples kullanmalısınız.
* Sonuc kümesi yeni bir tuple'dir.

In [154]:
t = (0,1,2,3,4)
t

(0, 1, 2, 3, 4)

In [155]:
t[0]

0

In [156]:
lst = [1,2,3,4,5]

t0 = tuple(lst)
t0

(1, 2, 3, 4, 5)

In [157]:
t1 = ("ali", "veli", 1,2,3, [1,2,3,4])
t1

('ali', 'veli', 1, 2, 3, [1, 2, 3, 4])

In [158]:
t2 = "ali", "veli", 1,2,3, [1,2,3,4]
t2

('ali', 'veli', 1, 2, 3, [1, 2, 3, 4])

In [159]:
t3 = tuple("abcd")
print(t3)
type(t3)

('a', 'b', 'c', 'd')

tuple

In [160]:
t4 = ("abcd",)
print(t4)
type(t4)

('abcd',)

tuple

* List'in numeric bir elemanını string bir alan ile bile update edebilirken
* Tuple'ın elemanlarını değiştiremezsin.

In [161]:
my_list = [1,2,3,4,5,6]
my_tuple = (1,2,3,4,5,6)

In [162]:
my_list[0] = 'NEW'
my_list

['NEW', 2, 3, 4, 5, 6]

In [163]:
my_tuple[0] = 'NEW'
my_tuple

TypeError: 'tuple' object does not support item assignment

In [164]:
my_tuple[1] = 15
my_tuple

TypeError: 'tuple' object does not support item assignment

* Tuple içerisindeki List'in alanları değiştirebilirsin.

In [166]:
tpl = (0,1,2,3,4,[5,6])

In [167]:
tpl[5][0] = 17
tpl

(0, 1, 2, 3, 4, [17, 6])

In [168]:
tpl[5][0] = "Ahmet"
tpl

(0, 1, 2, 3, 4, ['Ahmet', 6])

In [169]:
dimensions = 52, 40, 100
type(dimensions)

tuple

In [170]:
dimensions = 52, 40, 100
length, width, height = dimensions
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

In [171]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [172]:
dir(tpl)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [173]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [174]:
?tuple.count

Signature: tuple.count(self, value, /)
Docstring: Return number of occurrences of value.
Type:      method_descriptor

In [175]:
# parantez içine girilen değerden kaç tane olduğunu gösterir.
tpl.count(3)

1

## Dictionaries
* Dictionaries, Key değerinin benzersiz/unique olması şartıyla, sıralanmamış bir anahtar/key kümesidir.
* {} ve key/values alanları ile oluşturulur.
* {KEY : VALUES}

In [176]:
d = {"key1":"value1", 
     "key2":123, 
     "key3":list(range(100,105))}
d

{'key1': 'value1', 'key2': 123, 'key3': [100, 101, 102, 103, 104]}

In [177]:
d[0] # index ile değil "Key" alanı ile seçim yapılır.

KeyError: 0

In [178]:
d["key1"]

'value1'

In [179]:
d["key3"]

[100, 101, 102, 103, 104]

In [180]:
d["key3"][2]

102

In [181]:
d = {"k1":{"innerkey":[1,2,3]}}
d

{'k1': {'innerkey': [1, 2, 3]}}

In [182]:
d["k1"]["innerkey"][1]

2

In [183]:
# Dictionary oluşturmanın farklı yontemleri

planet_size_0 = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
planet_size_1 = dict({"Earth": 40075, "Saturn": 378675, "Jupiter": 439264})
planet_size_2 = dict([("Earth", 40075), ("Saturn", 378675), ("Jupiter", 439264)])
planet_size_3 = dict(Earth=40075, Saturn=378675, Jupiter=439264)

print(planet_size_0)
print(planet_size_1)
print(planet_size_2)
print(planet_size_3)

{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}
{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}
{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}
{'Earth': 40075, 'Saturn': 378675, 'Jupiter': 439264}

In [184]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
elements

{'hydrogen': 1, 'helium': 2, 'carbon': 6}

In [185]:
# insert "lithium" with a value of 3 into the dictionary

elements["lithium"] = 3 
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [186]:
print(elements.get("carbon"))

6

In [187]:
print("carbon" in elements)

True

In [188]:
print(elements.get("dilithium"))

None

In [189]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [190]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}
elements

{'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}

In [191]:
helium = elements["helium"]  # get the helium dictionary
print(helium)

hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [192]:
helium = elements.get("helium")  # get the helium dictionary
print(helium)

hydrogen_weight = elements.get("hydrogen")["weight"]  # get hydrogen's weight
print(hydrogen_weight)

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [193]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}  # create a new oxygen dictionary 

elements["oxygen"] = oxygen  # assign 'oxygen' as a key to the elements dictionary

print('New Elements Dict = ', elements)

New Elements Dict =  {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'}, 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}, 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

In [194]:
# updating 

elements["hydrogen"]["number"] = 5
elements

{'hydrogen': {'number': 5, 'weight': 1.00794, 'symbol': 'H'},
 'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'},
 'oxygen': {'number': 8, 'weight': 15.999, 'symbol': 'O'}}

## Sets

In [195]:
{1,2,3}

{1, 2, 3}

In [196]:
{1,1,1,1,2,2,2,2,2,3,3}

{1, 2, 3}

In [197]:
set([1,1,1,1,2,2,2,2,2,3,3])

{1, 2, 3}

In [198]:
s = {1,2,3}

In [199]:
s.add(5)
s

{1, 2, 3, 5}

In [200]:
# tekrar 5 elemanını eklediginde yine sonuc kumesinde tekrarsiz olarak gozukecektir
s.add(5)
s

{1, 2, 3, 5}

In [201]:
isim = "123123123"

isim_set = set(isim)
isim_set

{'1', '2', '3'}

In [202]:
txt = "Ali Ata Bak"
set(txt)

{' ', 'A', 'B', 'a', 'i', 'k', 'l', 't'}

In [203]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.
* If the item to remove does not exist, **remove()** will raise an error.
* Note: If the item to remove does not exist, **discard()** will NOT raise an error.

In [204]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [205]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

### Set Methods

In [206]:
set1 = set([0,1,2,3,4])
set2 = set([2,3,4,5,6])

In [207]:
set1.difference(set2)

{0, 1}

In [208]:
set2.difference(set1)

{5, 6}

In [209]:
set2 - set1

{5, 6}

In [210]:
set1.symmetric_difference(set2)

{0, 1, 5, 6}

In [211]:
set2.symmetric_difference(set1)

{0, 1, 5, 6}

In [212]:
set1.intersection(set2)

{2, 3, 4}

In [213]:
set2.intersection(set1)

{2, 3, 4}

In [214]:
set1 & set2

{2, 3, 4}

In [215]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6}

In [216]:
set2.union(set1)

{0, 1, 2, 3, 4, 5, 6}

In [217]:
# set1'i birlesim olarak update eder.
set1.intersection_update(set2)
set1

{2, 3, 4}

In [218]:
set1 = set([7,8,9])
set2 = set([5,6,7,8,9,10])

In [219]:
set1.isdisjoint(set2)

False

In [220]:
set2.isdisjoint(set1)

False

In [221]:
# set1, set2'nin alt kümesi mi?
set1.issubset(set2)

True

In [222]:
# set2, set1'in kapsayan kümesi mi?
set2.issuperset(set1)

True